    /* :root {

    } */

    #span-open-validatorOverlay {
        padding-left: 5rem;
    }

    /* reset all */
    * {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: baseline;
        background: transparent;
    }

    html {
        font-size: 62.5%;
        /* (62.5/100) * 16 =10 so now 1rem == 10px*/
        height: 100%;
        /* overflow-y: scroll; */


    }

    body {
        box-sizing: border-box;
        font-family: 'Courier New', sans-serif;
        font-size: 1.6rem;
        margin: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    img {
        max-width: 100%;
    }

    main {
        height: 100%;
        flex: 1;
        overflow-y: scroll;
    }


    .main-container {
        position: relative;
        z-index: 0;
        /* Layer behind menu & overlay */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: lightgrey;
        margin: 0 auto;
        border-radius: 1.5rem;
        align-items: center;
        width: 80%;
    }

    .actions {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        min-width: fit-content;
        /* margin: auto; */
        border-radius: 0.5rem;
        border: solid 0.1rem black;
    }

    /* basic headers styles */

    h1 {
        margin: auto;
        font-size: 2rem;
        text-align: center;
        text-wrap: wrap;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
        text-wrap: wrap;
    }

    h3 {
        font-size: 1.5rem;
        text-align: center;
        text-wrap: wrap;
        margin: auto;
    }


    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        /* Places underlines below the descenders */
        text-underline-position: under;
        /* Sets the thickness as a percentage of the font size */
        text-decoration-thickness: 0.2rem;
    }

    header {
        display: flex;
        flex-direction: column;
        position: sticky;
        padding: 1rem;
    }

    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .title {
        padding: 1rem;
        margin: auto;
    }

    .logo {
        position: absolute;
        top: 1rem;
        right: 2rem;
    }

    .logo a img {
        border-radius: 1rem;
        width: 5rem;
    }

    main {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%;
    }

    menu {
        list-style-type: none;
        /* height: 100%; */
        position: absolute;
        z-index: 1;
        /* overlay page */
        /* fixed position near top left */
        border-radius: 1rem;
    }

    menu li {
        display: inline-flex;
        /* overflow: hidden; */
        background-color: white;
    }

    menu li.nav-item {
        display: none;
        padding: 1rem;
        margin: 0;
        background-color: white;
        border-left: solid 1rem white;
    }

    img#menu-toggle {
        height: 4rem;
    }

    /* Ensure the nav-item links have a consistent underline */

    .nav-item.selected a {
        background-color: black;
        border-radius: 0.5rem;
        padding: 1rem;
        color: white;
    }

    .nav-item a:hover {
        text-decoration: underline;
    }

    button:hover {
        background-color: black;
        color: white;
        padding: 0.5rem;

    }

    /* search bar */
    .search-bar {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: auto;
    }

    .search-bar-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: auto;
        min-width: 30rem;
    }

    .search-box {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        border-radius: 0.5rem;
        border: 0.5rem solid black;
        width: 100%;
        max-height: 5rem;
        padding: 0.5rem;
    }

    input#search {
        /* width: 100%;
    height: 100%;
    border: none; */
        font-size: large;
        padding: 0.5rem;
    }

    input#search:focus {
        outline: none;
    }

    .search-button {
        padding: 1rem;
        border: 0.2rem solid black;
        border-radius: 0.5rem;
        width: 5rem;
        background-color: white;
    }

    .search-button:hover {
        background-color: grey;
    }

    .search-matching-list {
        display: inline-block;
        margin: 0;
        padding: 0;
        background-color: tomato;
    }

    section {
        padding: 1rem;
        margin: 0.5rem;
    }

    /* ticker */
    .ticker-block {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 80%;

    }

    .ticker-span {
        text-wrap: nowrap;
        border: solid 0.2rem black;
        padding: 1rem;
        min-width: 50%;
        overflow: hidden;
    }

    /* actions */
    .actions-label {
        align-self: flex-start;
        padding: 0 1rem;
        font-weight: bold;

    }

    .action-button {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-width: 10rem;
        padding: 1rem;
        border: 0.2rem solid black;
        border-radius: 0.5rem;
    }

    .submit {
        padding: 0.2rem;
    }

    /* stats block */
    .stats {
        min-width: 50%;
        border-radius: 0.5rem;
        border: solid 0.1rem black;
        padding: 1rem 0;
    }

    .stats-label {
        align-self: flex-start;
        padding: 0 1rem;
        font-weight: bold;
    }

    .stat {
        align-self: flex-start;
        padding: 0.5rem 1rem;
    }

    .ranking-label {
        padding: 1rem;
    }

    .ranked-visited {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .ranked-visited-list {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    /* results page */
    .search-results-header {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        max-width: 80%;
    }

    .search-results {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        margin: 1rem auto;
        max-width: 90%;
        border-radius: 0.5rem;
        border: solid 0.1rem black;
    }

    .search-result {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        width: 90%;
        /* margin: 1rem auto; */
    }

    .search-result-image {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-self: flex-start;
        margin: 1rem;

    }

    .img-search-result {
        border-radius: 0.5rem;
        border: solid 0.1rem black;
        padding: 1rem;
    }

    a:hover.search-result-link {
        background-color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
        border-radius: 1rem;
    }

    .search-result-text {
        min-width: 50%;
    }

    .pagination {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .pagination-button {
        margin: auto;
        padding: 1rem;
    }

    /* footer */
    footer {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 3rem;
        border-top: 0.2rem solid black;
    }

    .footer-item {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    /* alien details page */
    .alien-main-banner {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        width: 90%;
    }

    .alien-name-max {
        align-self: flex-start;
        padding: 0.5rem;
    }

    .h2-alfname {
        color: black;
        font-size: 3rem;
        text-align: center;
        white-space: nowrap;
        margin: auto;
        text-transform: uppercase;
    }

    .creators-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: auto;
    }

    .creator-label {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .h2-creator {
        padding-left: 0.5rem;
    }

    .creator-name {
        padding: 2rem;
        white-space: nowrap;
    }

    .creator-name p {
        /* hanging indent for longer names wrapping */
        text-indent: -0.6rem
    }

    .creators-validator-container {
        position: relative;
        flex-wrap: nowrap;
        display: flex;
    }

    /* alien details images section */
    .alien-images-section {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 1rem 0;
        width: 90%;
    }

    .alien-images-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        width: 100%;
    }

    .alien-image {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 1rem;
        width: 90%;
        max-width: 255px;
        border-radius: 1rem;
        border: solid 0.1rem black;
        background-color: white;
    }

    .alien-image img {
        border-radius: 0.5rem;
        border: solid 0.1rem black;
    }

    .image-validator-container {
        position: absolute;
        z-index: 1;
        bottom: 2rem;
        right: -0.3rem;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        height: 1%;
        margin-bottom: 1rem;
    }

    /* alien details containers */
    .alien-details-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        border-radius: 1rem;
        background-color: white;
    }

    details {
        /* flex:1; */

        user-select: none;
    }

    summary span.icon-pointer {
        height: 3rem;
        font-size: 2rem;
        transition: all 0.3s;
        transform: rotate(90deg);

    }

    details[open] summary span.icon-pointer {

        transform: rotate(270deg);
    }

    summary {
        font-size: large;
        border-bottom: solid 0.1rem black;
        width: 97%;
        cursor: pointer;
    }

    summary::-webkit-details-marker {
        display: none;
    }

    .text-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        border-bottom: solid 0.1rem black;
    }

    .ptext {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 97%;
        padding: 0.5rem;
    }

    .detail-validator-container {
        position: relative;
        top: 0;
        right: 0;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        height: 1%;
        margin-left: 0.5rem;
        margin-bottom: 1rem;
    }

    /* OVERLAY - alien details */
    /* CREDIT Adapted from https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp */
    /* The Overlay (background) */
    .overlay {
        /* Height & width depends on how you want to reveal the overlay */
        height: 100%;
        /* width: 100%; */
        position: absolute;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        top: 0;
        left: 0;
        background-color: black;
        background-color: rgba(0, 0, 0, 0.9);
        /* Black 90% opacity */
        overflow-x: hidden;
        /* Disable horizontal scroll */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    }

    /* Position the content inside the overlay */
    .overlay-content {
        /* position: relative; */
        top: 25%;
        /* 25% from the top */
        width: 100%;
        /* 100% width */
        text-align: center;
        /* Centered text/links */
    }

    /* The navigation links inside the overlay */
    .overlay a {
        padding: 1rem;
        text-decoration: none;
        font-size: 3rem;
        color: lightgrey;
        /* display: block; Display block instead of inline */
        /* transition: 0.3s; Transition effects on hover (color) */
    }

    /* When you mouse over the navigation links, change their color */
    .overlay a:hover,
    .overlay a:focus {
        border-radius: 50%;
        box-shadow: 0 0 1rem rgba(255, 255, 255);
        color: white;
    }

    /* Position the close button (top right corner) */
    .overlay .closebtn {
        width: 6rem;
        height: 6rem;
        text-align: center;
        margin: auto;
        position: absolute;
        top: 2rem;
        right: 4.5rem;
        font-size: 6rem;

    }

    /*----------Validator Icon */
    .icon-validator {
        border: 0.2rem solid black;
        border-radius: 50%;
        text-align: center;
        padding: 0.5rem;
        width: 2rem;
        background-color: lightgreen;
    }

    .icon-validator:hover {
        cursor: pointer;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.9);
        /* Add a shadow for better visibility */
    }

    /* Details table */
    table {
        overflow-x: auto;
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        text-align: left;
        padding: 0.8rem;
        border-top: solid 0.1rem black;
    }

    tr:nth-child(odd) {
        background-color: lightgrey;
    }

    /* alert */
    .alert {
        display: none;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-self: center;
        align-items: center;
        width: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 200px;
        padding: 1rem;
        border: 1rem solid black;
        border-radius: 0.5rem;
        background-color: black;
    }

    .alert-text {
        color: black;
        font-weight: bold;
        margin: 0.2rem;
    }

    /* credits doc */
    .credits {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-top: 0.2rem solid black;
    }

    .credits li {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-self: flex-start;
        padding: 0.25rem;
    }

    .credits li img {
        border: 0.1rem solid black;
        margin: 0.5rem;
        max-width: 50px;
    }

    .credits li a {
        color: blue;
        text-decoration: underline;
        padding: 0 0.5rem;
    }

    /* lofi doc */
    .lofi-slide {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        border-top: 0.2rem solid black;
    }

    .lofi-design-image {
        max-width: 75%;
    }

    /* ---------------------responsive------------------------ */
    /* mobile */
    @media only screen and (max-width: 425px) {
        .main-container {
            background-color: lightpink;
            flex-direction: column;
            justify-content: space-between;
            width: 90%;
        }

        .title {
            width: 50%;
        }

        .actions {
            flex-direction: column;
            justify-content: center;

            width: 90%;

        }

        .alien-main-banner {
            flex-direction: column;
            width: 100%;
        }

        .creators-container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 95%;
            margin: auto;
            padding: 0.2rem;
        }

        .creator-name {
            white-space: wrap;
            padding: 0.5rem;
        }

        .creator-name p {
            text-align: center;
            font-size: large;
        }

        section.alien-images-section {
            padding: 0;
            width: 100%;
        }

        .alien-images-container {
            width: 100%;
            margin: 0;
        }

        .overlay a {
            font-size: 2rem;
        }

        .overlay .closebtn {
            font-size: 4rem;
            top: 1rem;
            right: 0.5rem;
        }

        /* END MOBILE Responsive */
    }

    /* tablet */
    @media only screen and (min-width: 426px) and (max-width: 768px) {
        .main-container {
            width: 85%;
            background-color: lightblue;
            flex-direction: column;
        }

        .actions {
            width: 30%;
        }

        .alien-main-banner {
            width: 95%;
        }

        .creators-container {
            overflow: hidden;
            flex-direction: column;
            width: 90%;
        }

        .creator-name {
            white-space: wrap;
            padding: 0.5rem;
        }
    }

    /* Special responsiveness for Alien Details Page Table */
    /* CREDIT https://css-tricks.com/responsive-data-tables/ */
    @media only screen and (max-width: 550px) {

        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }

        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr {
            border: 0.1rem solid grey;
        }

        td {
            /* Style as a "row" */
            border: none;
            border-bottom: 0.1rem solid white;
            position: relative;
            padding-left: 30%;
        }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 0.6rem;
            left: 0.6rem;
            /* width: 45%;  */
            padding-right: 1rem;
            white-space: nowrap;
        }

        /*
    Label the data
    */
        td:nth-of-type(1):before {
            content: "Title:";
        }

        td:nth-of-type(2):before {
            content: "Year:";
        }

        td:nth-of-type(3):before {
            content: "Format:";
        }

        td:nth-of-type(4):before {
            content: "Credits:";
        }
    }

    /* end responsive----------------------------------------------- */